flows.json
[{"id":"3e806c82.eec164","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"86299fb6.160c2","type":"ui_form","z":"3e806c82.eec164","name":"","label":"","group":"86951449.db7618","order":1,"width":0,"height":0,"options":[{"label":"Enter Text","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":280,"wires":[["2a9bdbbb.ba0604"]]},{"id":"2a9bdbbb.ba0604","type":"function","z":"3e806c82.eec164","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["3fada101.201f4e","d53fea61.483bf8"]]},{"id":"c7cdb976.ba0de8","type":"function","z":"3e806c82.eec164","name":"","func":"msg.payload=msg.payload.output.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":220,"wires":[["32b21cc0.9ce304"]]},{"id":"3fada101.201f4e","type":"watson-conversation-v1","z":"3e806c82.eec164","name":"","workspaceid":"311284e2-7fba-4520-a973-56cc512c8a1e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a38fc70c-487d-44bc-8519-646aa65c714e","timeout":"","optout-learning":false,"x":380,"y":160,"wires":[["d79b1b21.1ad4f8","c7cdb976.ba0de8"]]},{"id":"d79b1b21.1ad4f8","type":"debug","z":"3e806c82.eec164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"d53fea61.483bf8","type":"ui_text","z":"3e806c82.eec164","group":"86951449.db7618","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":370,"y":340,"wires":[]},{"id":"32b21cc0.9ce304","type":"ui_text","z":"3e806c82.eec164","group":"86951449.db7618","order":3,"width":"0","height":"0","name":"","label":"Zippy","format":"{{msg.payload}}","layout":"row-left","x":670,"y":360,"wires":[]},{"id":"86951449.db7618","type":"ui_group","z":"","name":"Zippy Movie Ticket Booking Chat Bot","tab":"3e834e20.e102a2","order":1,"disp":true,"width":"8","collapse":false},{"id":"3e834e20.e102a2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]